{# <ul>
    <li><a href="/">Accueil</a></li>
    <li><a href="https://www.youtube.com/watch?v=2lzhNuGH66o">YouTube</a></li>
</ul> #}

{# <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown "> navbarNavAltMarkup 
        <div class="navbar-nav">
          <a class="nav-link" href="{{ path('liste_articles') }}">Accueil</a>
          <a class="nav-link" href="{{ path('ajout_article') }}">Ajout Article </a>
        </div>
        </li>

    </div>
  </div>
</nav> #}


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav">
          <a class="nav-link" href="{{ path('liste_articles') }}">Accueil</a>
          {% if is_granted('ROLE_ADMIN') %} {#  Si l'utilisateur à le rôle admin on liui affiche ses deux route #}
            <a class="nav-link" href="{{ path('ajout_article') }}">Ajout Article </a>
            <a class="nav-link" href="{{ path('article_brouillon') }}">Les brouillons </a>
          {% endif %}
          {% if is_granted('IS_AUTHENTICATED_FULLY') %}   {#  s'il est connecter on lui mett le bouton de deconnexion#}
            <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion </a>
          {% else %}    {# s'il n'est pas connecter on lui met le bouton de connexion #}
            <a class="nav-link" href="{{ path('app_login') }}">Connexion </a>
          {% endif %}



        </div>

    </div>
  </div>
</nav>